$primary: white;
$secondary: transparent;
$light: white;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "forsted_sheet";

.btn {
  border-radius: 2rem;

  &.btn-primary {
    color: black;
  }
}



.root{
  &.disco {
    background: linear-gradient(-45deg, #FC466B 0%, #3F5EFB 100%);
  }

  &.ocean{
    background: linear-gradient(45deg, #1CB5E0 0%, #000851 100%);
  }

  &.rising-lagoon{
    background: linear-gradient(135deg, #22C1C3 0%, #FDBB2D 100%);
  }
}
